
.react-tel-input .country-list {
  position: fixed !important;
  top: auto !important;
  left: auto !important;
  z-index: 9999 !important;

  background: #0a0a0a !important;
  color: white !important;

  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  max-height: 300px !important;

  overflow-y: auto !important;

  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
}
